.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn {
  min-width: 200px;
  max-width: 200px;
  padding: 0.6rem 0.6rem;
  background-color: #489991;
  color: black;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  transition: all 300ms;
}
.btn:hover {
  background-color: #f2c24e;
  font-weight: bold;
}

.btn-check {
  position: absolute;
  opacity: 0;
}

.btn:focus-within {
  color: black;
  background-color: #f2c24e;
  border-color: #8c7765;
  box-shadow: none;
  font-weight: bold;
}
